body {
  background-color: rgba(236, 197, 55, 0.151);
}

.title_body {
  color: #576857;
  font-size: 60px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 5px 5px 10px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------- IMAGE A GAUCHE --------------------- */

.container_activites {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 95%;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 0px 50px 0px 50px;
  border: solid 1px #213321;
}

.image_activites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-radius: 0px 0px 0px 50px;
  backdrop-filter: brightness(80%);
  z-index: -1;
}

.image_activites img {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(11, 15, 11, 0.596) 2px 2px 10px 2px;
  border-radius: 0px 50px 0px 50px;
  border: 1px solid rgba(11, 15, 11, 0.596);
  margin: 10px;
}

.paragraphe_activites {
  background-color: #576857;
  width: 65%;
  overflow-y: auto; /* scrollbar */
  border-radius: 0px 50px 0px 0px;
  outline: 1px solid #213321;
}

.paragraphe_activites::-webkit-scrollbar {
  width: 6px;
}

.title_activites {
  color: #f8f3e6;
  font-size: 50px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  text-align: center;
  text-shadow: 5px 5px 10px #213321;
}

.texte_activites {
  text-align: justify;
  font-family: "Atma", system-ui;
  font-size: 18px;
  color: #ece6dde5;
  padding: 0px 25px 25px 25px;
  margin-top: 20px;
}

/* ----------------------- IMAGE A DROITE -------------------- */

.container_activites_inverse {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 95%;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 50px 0px 50px 0px;
  border: solid 1px #213321;
}

.paragraphe_activites_inverse {
  background-color: #576857;
  width: 65%;
  overflow-y: auto;
  border-radius: 50px 0px 0px 0px;
  outline: 1px solid #213321;
}

.paragraphe_activites_inverse::-webkit-scrollbar {
  width: 6px;
}

.title_activites_inverse {
  color: #f8f3e6;
  font-size: 50px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  text-align: center;
  text-shadow: 5px 5px 10px #213321;
}

.texte_activites_inverse {
  text-align: justify;
  font-family: "Atma", system-ui;
  font-size: 18px;
  color: #e0d2c0e5;
  padding: 0px 25px 25px 25px;
  margin-top: 20px;
}

.image_activites_inverse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-radius: 0px 0px 50px 0px;
  backdrop-filter: brightness(80%);
  z-index: -1;
}

.image_activites_inverse img {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(11, 15, 11, 0.596) 2px 2px 10px 2px;
  border-radius: 50px 0px 50px 0px;
  border: 1px solid rgba(11, 15, 11, 0.596);
  margin: 10px;
}

.link_contact_body {
  text-decoration: none;
  color: #213321;
  font-weight: bold;
  font-size: 16px;
}

/* ----------------------------- Responsive --------------------------------- */

@media screen and (max-width: 480px) {
  .title_body {
    font-size: 40px;
    margin-bottom: 0px;
  }

  .title_activites {
    font-size: 35px;
  }

  .title_activites_inverse {
    font-size: 35px;
  }

  .image_activites img {
    max-width: 450px;
    max-height: 550px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px 0px 0px 50px;
  }

  .image_activites_inverse img {
    max-width: 450px;
    max-height: 550px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px 0px 50px 0px;
  }
}
