body {
  background-color: rgba(236, 197, 55, 0.151);
}

.title_body {
  color: #576857;
  font-size: 60px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 5px 5px 10px #576857;
}

.container_line {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container_equipe {
  border: 1px dashed #312131;
  border-radius: 20px;
  height: 850px;
  width: 35%;
  backdrop-filter: brightness(80%);
  overflow-y: auto; 
  z-index: -1;
}

.image_equipe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.image_equipe img {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgba(11, 15, 11, 0.596));
  z-index: -1;
}

.container_description_equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

.name_equipe {
  font-family: "Rock Salt", cursive;
  font-size: 35px;
  color: #576857;;
  text-shadow: 2px 2px 10px #576857;
}

.description_equipe {
  font-family: "Atma", system-ui;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  color:#2c2627;
}



/* ------------------------------- Responsive ---------------------------- */

@media screen and (max-width: 480px) {
    .title_body {
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 30px;
      }
    
  .container_line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_equipe {
    height: 850px;
    width: 85%;
    margin-bottom: 50px;
  }

  .image_equipe img {
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #576857;
  }

}